@import "global/reset";
@import "utils/variables";
@import "components/header";
@import "components/main";
@import "layout/form";
@import "layout/button";
@import "layout/productos";
@import "components/footer";
@import "components/navbar";
@import "components/redes-sociales";
@import "layout/mq-mobile380";


/* Estilos generales */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: $body-bg;
  color: $body-color;
  line-height: 1.6;
  margin: 0; 

  
}

h1, h2, h3 {
  color: $body-h;
}
p {
  margin-bottom: 1em;
  font-size: 16px;
  color: $body-p;
  line-height: 1.5;
  font-size: larger;


}










